@model UserInfo
@{
    ViewData["Title"] = "Registration";
}
<form asp-action="Registration" asp-controller="RegistrationUser" method="post">
    <div class="register">
        <label asp-for="Lastname"></label>
        <input asp-for="Lastname" />
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>
    <div class="register">
        <label asp-for="Firstname"></label>
        <input asp-for="Firstname" />
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>
    <div class="register">
        <label asp-for="Patronymic"></label>
        <input asp-for="Patronymic" />
        <span asp-validation-for="Patronymic" class="text-danger"></span>
    </div>
    <div class="register">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="register">
        <label asp-for="PhoneNumber"></label><br />
        <span class="text-help">В формате +7 (XXX) XXX-XX-XX</span>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="register">
        <label asp-for="Login"></label><br />
        <span class="text-help">3-16 латинских букв и цифр</span>
        <input asp-for="Login" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="register">
        <label asp-for="EnterPassword"></label><br />
        <span class="text-help">
            8-16 символов с использованием цифр, 
            спец. символов, строчных и прописных 
            символов латинского алфавита
        </span>
        <input asp-for="EnterPassword" />
        <span asp-validation-for="EnterPassword" class="text-danger"></span>
    </div>
    <div class="register">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="register tick">
        <label asp-for="IsAgree"></label>
        <input asp-for="IsAgree" />
        <span asp-validation-for="IsAgree" class="text-danger"></span>
    </div>
    <button class="reg" type="submit">
        Зарегистрировать
    </button>
</form>

